:root {
  --hijau: #009000;
  --bg: #010101;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: white;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgb(1, 1, 1, 0.8);
  border-bottom: 1px solid #005600;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: white;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--hijau);
}

.navbar .navbar-nav a {
  color: white;
  display: inline-block;
  font-size: 1rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--hijau);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.4rem;
  border-bottom: 0.1rem solid var(--hijau);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(1);
}

.navbar .navbar-extra a {
  color: white;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--hijau);
}

#menu {
  display: none;
}

/* Search */
.navbar .search-form{
    position: absolute;
    top: 100%;
    right: 7%;
    background-color: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s;
}

.navbar .search-form.active{
    transform: scaleY(1);
}

.navbar .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.4rem;
    color: var(--bg);
    padding: 1rem;
}

.navbar .search-form label {
    cursor: pointer;
    font-size: 2rem;
    margin-right: 1.5rem;
    color: var(--bg);
}

/* Hero */

.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(../img/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

/* gradiasi batas */
.hero::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0;
    background: linear-gradient(0deg, rgba(1, 1, 3, 1) 8%, rgba(255, 255, 255, 0) 50%);
}

.hero .content{
    padding: 1.4rem 7%;
    max-width: 60rem;
}

.hero .content h1{
    font-size: 3em;
    color: white;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    line-height: 1.2;
}

.hero .content h1 span {
    color: var(--hijau);
}

.hero .content p {
    font-size: 1.2rem;
    margin-top: 1rem;
    line-height: 1.4;
    font-weight: 100;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    mix-blend-mode: difference;
}

.hero .content .cta {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1rem;
    color: white;
    background-color: var(--hijau);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero .content .cta:hover,
.jenis .tombol:hover,
.kontak .row form .btn:hover{
    background-color: white;
    color: var(--hijau);
}

/* About */

.about {
    padding: 7rem 15% 1.4rem;
}


.about h2,
.jenis h2,
.kontak h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

.about h2 span,
.jenis h2 span,
.kontak h2 span {
    color: var(--hijau);
}

.about .row {
    display: flex;
}

.about .row .about-img {
    flex: 1 1 15rem;
}

.about .row .about-img img {
    width: 100%;
    /* margin-left: 10rem; */
}

.about .row .content {
    flex: 1 1 35rem;
    padding: 0 1rem;
}

.about .row .content p {
    margin-bottom: 0.8rem;
    font-size: 1.2rem;
    font-weight: 100;
    line-height: 1.6;
}

/* Jenis */

.jenis,
.kontak {
    padding: 7rem 7% 1.4rem;
}

.jenis h2,
.kontak h2 {
    margin-bottom: 1rem;
}

.jenis p,
.kontak p {
    text-align: center;
    max-width: 30rem;
    margin: auto;
    font-weight: 100;
    line-height: 1.6;
}

/* .jenis .row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
    justify-content: center;
}

.jenis .row .menu-card {
    text-align: center;
    padding-bottom: 4rem;
    margin: auto -4rem;
    background-position: center;
}

.jenis .row .menu-card img {
    border-radius: 50%;
    width: 55%;
}

.jenis .row .menu-card .menu-card-title {
    margin: 1rem auto 0.5rem;
}

.jenis .row .menu-card .menu-card-price {
    font-weight: 300;
} */

.jenis .row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 2fr));
    gap: 1.5rem;
    margin-top: 4rem;
}

.jenis .row .menu-card {
    text-align: center;
    border: 1px solid #666;
    background-color: #353535;
    padding: 2rem 0;
}

.jenis .row .menu-card .menu-image {
    padding: 1rem 0;
}

.jenis .row .menu-card .menu-image img {
    height: 18rem;
}

.jenis .row .menu-card .menu-card-title {
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

.jenis .row .menu-card .menu-card-title::after {
    content: "";
    display: block;
    padding-top: 0.3rem;
    padding-bottom: 0.4rem;
    border-bottom: 0.1rem solid #fff;
    transform: scaleX(0.5);
  }

.jenis .row .menu-card .menu-card-price {
    font-weight: 300;
    font-size: 0.9rem;
}

.jenis .row .menu-card .menu-card-price li{
    font-weight: 300;
    padding: 0.2rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

/* .jenis .row .menu-card .menu-card-price .ket::after {
    content: "";
    display: block;
    padding-top: 0.3rem;
    padding-bottom: 0.4rem;
    border-bottom: 0.1rem solid #fff;
} */



.jenis .tombol{
    margin-top: 2.5rem;
    padding: 0.8rem 2rem;
    font-size: 1rem;
    color: white;
    background-color: var(--hijau);
    cursor: pointer;
    box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    border-radius: 6%;
    font-weight: 700;
    display: flex;
    position: absolute;
    justify-content: center;
    width: 18%;
    transform: translateX(100%);
    left: 23%;

}

/* Kontak */

.kontak .row {
    display: flex;
    margin-top: 2rem;
    background-color: #222;
    /* flex-wrap: wrap; */
}

.kontak .row .maps {
    text-align: center;
    margin-left: -2rem;
    padding: 1rem 1rem;
}

.kontak .row .map{
    padding: 1rem;
    flex: 1 1 35rem;
    width: 80%;
    height: 12rem;
    object-fit: cover;
}

.kontak .row form {
    padding: 2rem 2rem;
    margin-right: 2rem;
    margin-left: -5rem;
    flex: 1 1 45rem;
    text-align: center;
    height: 12px;

}

.kontak .row form .input-group {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    background-color: var(--bg);
    border: 1px solid #eee;
    padding-left: 1rem;

}

.kontak .row form .input-group input {
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    background: none;
    color: white;
    height: 15px;
}

.kontak .row form .btn {
    margin-top: 1.5rem;
    display: inline-block;
    padding: 0.8rem 2rem;
    font-size: 1rem;
    color: white;
    background-color: var(--hijau);
    cursor: pointer;
    /* margin-left: -30.5rem; */
    box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}


/* Footer */

footer {
    background-color: var(--hijau);
    text-align: center;
    padding: 1rem 0;
    margin-top: 3rem;
}

footer .social {
    padding: 1rem 0;
}

footer .social a{
    color: white;
    margin: 1rem;
}

footer .social a:hover,
footer .link a:hover{
    color: var(--bg);
}

footer .link {
    margin-bottom: 1.2rem;
}

footer .link a {
    color: white;
    padding: 0.7rem 1rem;
}

footer .credit {
    font-size: 0.8rem;
}

footer .credit span {
    color: #010101;
    font-weight: 400;
}

/* Modal Box */
/* Detail Mobil */
.modal {
    display: none;
    position: fixed;
    z-index: 999999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);

}

.modal-container {
    position: relative;
    background-color: #f4f4f4;
    color: var(--bg);
    margin: 11% auto;
    padding: 1.2rem;
    border: 1px solid #666;
    width: 80%;
    animation: animateModal 0.8s;
}

/* Modal Animasi Start */
@keyframes animateModal {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}
/* Modal Animasi End */

.modal .modal-container .close-icon{
    position: absolute;
    right: 1rem;
}

.modal .modal-content{
    display: flex;
    flex-wrap: nowrap;
}

.modal .modal-content img{
    height: 15rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
}

.modal .modal-content p{
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin-top: 1.2rem;
}

.modal .modal-content a{
    display: flex;
    gap: 1rem;
    width: 14rem;
    background-color: var(--hijau);
    color: white;
    margin-top: 1rem;
    padding: 1rem 1.6rem;
}

.modal .modal-content a:hover{
    background-color: var(--bg);
}

/* Media QUery */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 85%;
  }

  .jenis .row .menu-card .menu-image img {
    height: 11rem;
  }

.jenis .tombol {
    width: 23%;
    left: 15.7%;
}

}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 70%;
  }

  #menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: white;
    width: 30rem;
    height: 100vh;
    transition: 0.6s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a{
    color: #010101;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 1.7rem;
  }

  .navbar .navbar-nav a::after{
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after{
    transform: scaleX(0.2);
  }

  .navbar .search-form {
    width: 60%;
    right: 2rem;
  }

  .about .row {
    flex-wrap: wrap;
  }
  
  .about .row .about-img img {
      height: 20rem;
      object-fit: cover;
      object-position: center;
    }
    
    .about .row .content {
        padding: 0;
    }

  .about .row .content p{
    font-size: 1.1rem;
    margin-top: 1rem;
  }

  .jenis .row .menu-card .menu-image img{
    height: 14rem;
  }

.jenis .tombol {
    width: 26%;
    left: 11.5%;
}

.modal .modal-content{
    flex-wrap: wrap;
}

}

/* HP1 */
@media (max-width: 500px) {

    .jenis .row .menu-card img {
        width: 13rem;
    }

    .jenis .tombol {
        width: 39%;
        transform: translateX(0);
        left: 31.5%;
    }

}


/* HP */

@media (max-width: 425px) {
  html {
    font-size: 55%;
  }

  .jenis .row {
    padding: auto 0 1rem;
}

.jenis .tombol {
    width: 35%;
    left: 33%;
    transform: translateX(0);
}

}
